services:
  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - '8080:80'
    volumes:
      - .:/var/www
      - ./vhost.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network

  php:
    &php
    container_name: php
    build: ./
    volumes:
      - .:/var/www
      - ./php.ini:/usr/local/etc/php/conf.d/php.ini
    networks:
      - app-network
    user: root

  broker:
    image: apache/kafka:latest
    container_name: broker
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
    networks:
      - app-network

  broker-init:
    image: apache/kafka:latest
    depends_on:
      - broker
    entrypoint: >
      sh -c "
        until /opt/kafka/bin/kafka-topics.sh --bootstrap-server broker:9092 --list; do
          echo waiting for kafka…
          sleep 3
        done;
        /opt/kafka/bin/kafka-topics.sh --bootstrap-server broker:9092 --create --topic event.worker --partitions 3 --replication-factor 1;
        echo Topics created
      "
    networks:
      - app-network

  worker:
    container_name: worker
    <<: *php
    entrypoint: [ "bin/console","system:work","--queue=event.worker" ]
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:
