services:
  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - '8080:80'
    volumes:
      - .:/var/www
      - ./vhost.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network

  php:
    &php
    container_name: php
    build: ./docker/php
    volumes:
      - .:/var/www
      - ./php.ini:/usr/local/etc/php/conf.d/php.ini
    networks:
      - app-network
    user: root

#  worker:
#    container_name: worker
#    <<: *php
#    entrypoint: [ 'php', 'bin/console', 'worker' ]
#    restart: on-failure
#    depends_on:
#      - php
#    networks:
#      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:
